body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#1e293b);
}

.auth-container,
.profile-container{

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.auth-card,
.profile-card{

background:white;

padding:40px;

border-radius:15px;

width:320px;
color: black;
text-align:center;

box-shadow:0 10px 40px rgba(0,0,0,0.4);

}

.auth-card input{

width:100%;

padding:10px;

margin-bottom:15px;

border-radius:8px;

border:1px solid #ccc;

}

.auth-card button{

width:100%;

padding:10px;

border:none;

background:#2563eb;

color:white;

border-radius:8px;

margin-bottom:10px;

cursor:pointer;

}

.google-btn{

background:#db4437;

}

.profile-card img{

width:120px;
height:120px;

border-radius:50%;

margin-bottom:10px;

}